#contact_modal {
	display: none;
}

body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	padding: 30px;
}

main {
	padding: 60px 100px;
}

h1 {
	color: #d3573c;
	font-size: 60px;
}

.logo {
	height: 50px;
}

.header_style {
	margin: 0 100px 0 100px;
}

.photograph_header {
	background-color: #fafafa;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 40px;
	padding: 40px 30px;
}

.photographer_localization {
	color: #901c1c;
	font-size: 22px;
	margin-top: -30px;
}

.photographer_tagline {
	color: #525252;
}

.photograph_button {
	padding: 60px;
}

.photographer-img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
	place-self: center;
}

.contact_button {
	font-size: 20px;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
	margin: auto;
}

.contact_button:hover {
	background-color: #db8876;
	color: black;
	font-size: bold;
}

.photographer_picture {
	display: flex;
	font-weight: bold;
}

/* *** */
.css-select,
.css-select *,
.css-select *::before,
.css-select *::after {
	box-sizing: border-box;
}
.css-select {
	position: relative;
	max-width: 12rem;
	margin-left: 12px;
	bottom: 10px;
}
.css-select:after {
	content: '';
	display: block;
	position: absolute;
	top: calc(50% - 0.5rem);
	right: 0.75rem;
	width: 0.5rem;
	height: 0.5rem;
	border: 0 solid #fff;
	border-width: 0 0.125rem 0.125rem 0;
	transform: rotate(45deg);
	transition: top 0.3s ease, transform 0.3s ease;
	will-change: top;
	pointer-events: none;
}
.css-select:focus-within:after {
	top: calc(50% - 0.25rem);
	transform: rotate(225deg);
}
.css-select__selected {
	display: block;
	margin: 0;
	padding: 0.75rem 3rem 0.75rem 1rem;
	width: 100%;
	font-size: 1.125rem;
	color: #fff;
	line-height: 1.2;
	border: none;
	border-radius: 0.25rem;
	background: #911c1c;
	box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
	outline: none !important;
}
.css-select__dropdown {
	position: absolute;
	top: 24px;
	left: 0;
	padding: 0.5rem;
	width: 100%;
	max-height: 9.75rem;
	background: #911c1c;
	border-radius: 0.25rem;
	transform: translateY(1.25rem);
	opacity: 0;
	visibility: hidden;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	overflow: auto;
	z-index: 9999;
}
.css-select__dropdown::-webkit-scrollbar {
	width: 0.5rem;
}
.css-select__dropdown::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0.25rem;
}
.css-select__dropdown::-webkit-scrollbar-thumb {
	background: #535353;
	border-radius: 0.25rem;
}
.css-select__dropdown::-webkit-scrollbar-thumb:hover {
	background: #717171;
}
.css-select:focus-within .css-select__dropdown {
	transform: translateY(0.75rem);
	opacity: 1;
	visibility: visible;
}
.css-select__option {
	display: block;
	margin: 0;
	padding: 0.5rem;
	width: 100%;
	font-size: 1.125rem;
	color: #fff;
	text-align: left;
	line-height: 1.2;
	border: none;
	border-top: 1px solid white;
	background: transparent;
	transition: background 0.3s ease;
	cursor: pointer;
	outline: none !important;
}

.photographer_gallery {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 30px;
}

.photographer_gallery_picture {
	height: 320px;
	width: 100%;
	margin: 0;
}

.photographer_gallery_img {
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	object-fit: cover;
	height: 290px;
}

.photographer_gallery_footer {
	display: flex;
	justify-content: space-between;
	height: 30px;
	font-size: 25px;
	color: #901c1c;
}

.photographer_gallery_footer_text {
	color: #901c1c;
	font-size: 22px;
	align-self: center;
}

.photographer_gallery_footer_heart {
	display: flex;
	flex-direction: row;
	align-self: center;
	font-size: 25px;
	color: #901c1c;
}

.heart {
	padding-left: 16px;
	color: #901c1c;
	align-self: center;
}

.footer_heart {
	padding-left: 10px;
	align-self: center;
}

.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}

.footer_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: #db8876;
	font-weight: bold;
	bottom: 0;
	height: 60px;
	font-size: 22px;
	padding: 0 32px;
	right: 48px;
	width: 260px;
}
.footer_div {
	display: flex;
	align-items: center;
}
